@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

html{
    overflow: hidden;
}

body{
        margin: 0;
        font-size: 16px;
        font-family: 'Inconsolata', monospace;
        text-shadow: 0 4px 3px rgba(0,0,0,0.7),
        0 8px 13px rgba(0,0,0,0.3),
        0 18px 23px rgba(0,0,0,0.4);
        transform-style: preserve-3d;
        line-height: 1.8em;
        perspective: 2px;
        background: black;
    }


.parallax-wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;

}


.single-parallax{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Parallax::after{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.parallax-bg1::after{
    background-image: url(bg1.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bg2::after{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bg3::after{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.static-bg{
    background: linear-gradient(to right, #ff00cc,#333399);
    height: 50vh;
    color: #BBD2C5;
    width: 100vw;
    margin: 0 auto;
    display: block;
}

.static-bg h2{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    color: #DAE2F8;
}
    
.static-bg p{
        padding-top: 30px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 60px;
        text-align: center;
}

.static-bg-last{
    background: linear-gradient(to right, #ff00cc,#333399);
    height: 20vh;
    width: 100vw;
   padding-top: 30px;
   padding-left: 30px;
    text-align: center;
}

.static-bg-last h1{
    border: none;
    background: none;
    color: #DAE2F8;
}


@media only screen and (max-width:800px) {
    .Parallax {
        position: fixed;
        background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-position: center;
       
    }
    body{
        margin: 0;
        font-size: 10px;
        font-family: 'Inconsolata', monospace;
        text-shadow: 0 4px 3px rgba(0,0,0,0.7),
        0 8px 13px rgba(0,0,0,0.3),
        0 18px 23px rgba(0,0,0,0.4);
        line-height: 1.8em;
        background: black;
    }

    .single-parallax{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .Parallax::after{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-size: 100%;
    }

    
.static-bg{
    background: rgba(27,30,69,255);
    height: 50vh;
    color: #A8CABA;
    width: 100vw;
    margin: 0 auto;
    display: block;
}

    .static-bg h2{
        font-size: 150%;
        text-align: center;
        padding-top: 50px;
        }
        
    .static-bg p{
            padding-top: 30px;
            font-size: 150%;
            padding-left: 40px;
            padding-right: 60px;
            text-align: center;
    }

    .static-bg-last{
        background: rgba(27,30,69,255);
        height: 20%;
        color: #A8CABA;
        width: 100vw;
        text-align: center; 
        justify-content: center;
    }
    
    .static-bg-last h1{
        font-size:180%;
        color: #A8CABA;
        padding-right: 20%;
    }
    

  }